.ingresos-home h2{
  color: white;
  height: 130px;
  width: 100%;
  text-align: center;
  font-size: 22px;
  letter-spacing: 1px;
  padding: 10px;
  background-image: url("https://images.pexels.com/photos/797900/pexels-photo-797900.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
  background-size: cover;
  background-position: center;
}
p {
  font-size: 12px;
}

.line{

  margin: 15px 0;
  width:300px;
  height:2px;
  border: none;
  background-color: #a5c5a8;
}

